@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get a random cat fact</h1>
    <a asp-action="ButtonClick" class="btn btn-primary">Cat fact</a>
    <p>@TempData["CatFactValue"]</p>
    <p>@TempData["CatFactFileDebug"]</p>
</div>
